html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

html {
  font-family: sans-serif;
}

.app {
  padding-top: 50px;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  position: relative;
}

p {
  color: #505050;
  font-size: 18px;
  font-weight: lighter;
}

ul li {
  list-style-type: none;
}

ol li {

  position: relative;
  top: 5px;
  margin: 14px 0px 14px 0px;
  /*list-style-type: none;*/
}

.info > li {
  text-decoration: none;
  margin: 5px 0px 0px 0px;
}

h1 {
  font-weight: bolder;
  font-size: 50px;
  padding: 10px 0px 10px 0px;
}

.title {
  /*text-align: center;*/
  margin-bottom: 20px;
}

.header {
  font-size: 20px;
}

form {
  width: 300px;
  margin: 0 auto;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px 10px 10px 10px;
  margin: 25px 0px 25px 0px;
}

input {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 5px;
  width: 66%;
}

button {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 5px;
}

ol > li > button {
  position: absolute;
  bottom: -6px;
  right: -3.5px;
}

.info > li > a:hover {
  color: blue;
  font-size: 18px;
}

.monster {
  font-size: 60px;
  position: absolute;
  right: 0px;
}

h4 {
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 0px;
}
